heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: goldenrod;
    font-size: larger;
}
.myDIV {
    border: 4px dotted green;
    padding: 12px 24px;
}